# Application
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=
DATABASE_PASSWORD=

# Authentication
JWT_SECRET=
NEXT_PUBLIC_API_URL=

# Services
FORMSPREE_ENDPOINT=
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
